* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* nav 1 */
header {
  width: 100%;
  height: 50px;
  background: #DCDCDC;
}

.nav1 {
  display: flex;
  justify-content: space-between;
}

header .nav1 li {
  display: inline-block;
}

/* nav 2 */
section {

  position: sticky;
  top: 0;
  /* position fixed ki jaga sticky kia phir 
  top margin 0 kia phir end pa z index add kia with 999 value*/
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 2%;
  background: #FAF9F6;
  z-index: 999;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  /* font-size: 15px; */
  /* font-weight: 500; */
  color: black;
}

.btn1 {
  background-color: royalblue;
  padding: 9px 25px;
  height: 40px;
  width: 12%;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}

.btn2 {
  background-color: yellowgreen;
  padding: 9px 25px;
  height: 40px;
  width: 13%;
  border: none;
  border-radius: 5px;
  transition: all 0.4s ease 0s;
}

.btn1:hover,
.btn2:hover {
  scale: 1.05;
}

/* main */
.img {
  float: right;
  width: 40%;
  padding-top: 100px;
  padding-right: 40px;
}

.text {
  padding-top: 200px;
  padding-left: 30px;
}

.saylani {
  color: yellowgreen;
}

.pg,
p {
  padding-left: 30px;
  padding-top: 20px;
}

/* form */
/* form */
  .container {
      width: 100%;
      margin-top: 190px;
      padding: 20px;
      background-color: rgba(182, 239, 73, 0.2);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  form {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  
  .input-container {
     
      display: flex;
      align-items: center;
      margin-right: 20px;
  }
  
  .startadornment, .endadornment {
      height: 50px !important;
      background-color: #424242;
      color: #fff;
      padding: 10px !important;
      font-size: 12px;
      border: 1px solid #424242;
  }
  
  .startadornment {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      margin-right: -5px;
  }
  
  .endadornment {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: -5px;
  }
  
  .input {
      height: 50px !important;

      padding: 10px !important;
      width: 200px !important; /* Decreased width */
      border: 1px solid #424242 !important;
      border-radius: 0;
      outline: none;
  }
  
  .radio-group {
      display: flex;
      align-items: center;
      margin-right: 20px;
  }
  
  .radio-button {
      display: flex;
      align-items: center;
      margin-right: 15px;
      cursor: pointer;
  }
  
  .radio-button input[type='radio'] {
      display: none;
  }
  
  .radio-text {
      padding: 8px;
      border: 2px solid transparent;
      border-radius: 10px;
      transition: all 0.3s ease;
  }
  
  .radio-button input[type='radio']:checked + .radio-text {
      background-color: #424242;
      color: #fff;
      border-color: #424242;
  }
  
  .radio-button input[type='radio']:hover + .radio-text {
      background-color: #555;
      color: #fff;
      border-color: #424242;
      transform: scale(1.05);
      transition: all 0.3s ease;
  }
  
  .form-btn {
      color: #fff;
      background-color: #8dc63f;
      border: none;
      padding: 1rem 2rem;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }
  
  .form-btn:hover {
      background-color: #7cb339;
  }
  
.countries {
  width: 100%;
  height: 700px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
}

.do {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

.flex-containwer {

  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-box {
  width: 200px;
  height: 150px;
  background: rgb(220, 243, 173);
  color: black;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 10px;
  line-height: 250px;
  font-weight: bold;
}

.flex-box .s-logo {
  padding-bottom: 160px;
}

.flex-box:hover {
  scale: 1.1;
}


/**/

/*

aj ka code by abduu
*/
.home_funding {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;

}

.funding_row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.funding_box {
  animation-duration: 1.5s !important;
  animation-iteration-count: 1 !important;
  cursor: pointer;
  position: relative;
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.funding_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.funding_box .fund_box {

  border-radius: 10px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 10px;
  position: absolute;
  width: 100%;
  transition: opacity 0.3s;

}

.funding_box:hover .fund_box {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.funding_box .fund_box h5 {
  margin: 0 0 10px 0;
  color: white;
}

.funding_box .fund_box button {
  background-color: #8dc63f;
  border: none;
  font-size: 14px !important;
  outline: none;
  padding: 10px 30px;
  width: 100%;

  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.container2 {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.txt-flexbox {
  width: calc(50% - 50px);
  color: black;
  font-size: 13px;
  margin-right: 50px;
  margin-left: 15px;
}

.proj-img {
  max-width: calc(50% - 50px);
  height: auto;
  margin-left: 50px;
  margin-right: 15px;
}

.txt-col {
  color: rgb(2, 100, 160);
  font-weight: bold;
  font-size: 18px;
}


.line {
  position: absolute;
  background-color: rgb(243, 238, 238);
}

.vertical-line {
  width: 2px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.horizontal-line {
  height: 2px;
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text-box {
  background-color: aliceblue;
  border-radius: 0 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;

  height: 50%;

  background-color: #8dc63f !important;
  border-radius: 60px 0 0 0;


  z-index: 2;

  padding: 0px;
}

.text2 {
  font-family: inherit;
  margin-top: 0;
  word-break: break-word;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.35;
  margin-bottom: .5em;
  margin-left: 50px;
}

/* image */
.counting {
  margin: 10px 50px;
}

/* testimony */
.say1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  color: #8dc63f;
}

.say2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-right: 60px;
}


/* testimony paragraph */



.testimonials_container {
  width: 100%;
  display: flex;
  
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-right:50px ;
  margin-left:50px ;

  

}

.testimonial_box {
  background-color: rgba(169, 169, 169, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 45%;

}

.testimonial_box1 {
  background-color: rgba(169, 169, 169, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 45%;
}

.testimonial_image {
      border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  display: block;
}

.testimonial_content {
  color: black;
}

.testimonial_content h4 {
  margin: 0;
  font-size: 18px;
  color: blue;
}

.testimonial_content .designation {
  font-size: 14px;
  color: black;
  font-style: italic;
}

.testimonial_content .text1 {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 80%;
  height: 185px;
}


/* media */
.media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

/* yt cards */

.yt-cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
}

.card {
  width: 200px;
  height: 200px;
  background: #8dc63f;
  color: black;
  text-align: left;
  margin: 10px;
  border-radius: 20px;
}

.news {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
}

.news-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
}

.card2 {
  width: 200px;
  height: 200px;
  /* background: #8dc63f; */
  color: black;
  text-align: left;
  margin: 10px;
  border-radius: 20px;
}

.card-body2 {
  background: #DCDCDC;
}

.cards-btn {
  background: #8dc63f;
}

/*  */
.background-Guide {
  background-color: #0d6db7 ;
  background-image: url(pics-logos/guide_back.3a5127e910c15a49f875.png);
  background-position: center ;
  display: flex ;
  justify-content: center  ;
  align-items: center ;
  margin-right: 50px ;
  margin-left: 50px ;
  margin-top: 140px ;
  margin-bottom: 30px ;
  padding-top: 40px ;
  
}
.Guide-content {
  text-align: center ;
  margin-bottom: .5em ;
  color: white ;
  font-size: 20px ;
  font-weight: 600 ;
  line-height: 1.35 ;
  margin-top: 5px ;
}

.input-Guide {
  display: block ;
  justify-content: center ;
  align-items: center ;
  margin-top: 0 ;
  padding-top: 30px ;
}

input[type="text"] {
  display: block ;
  padding: 20px ;
  width: 600px ;
  border: 1px solid white ;
  border-radius: 5px ;
  background-color: transparent ;
  outline: none ;
  font-size: 20px ;
  font-weight: 200 ;
  font-weight: bold ;
  
}

.sub-btn{
 
  vertical-align: middle ;
  margin-top: 5px ;
  padding: 20px ;
  background-color: white !important ;
  color: black ;
  border: none ;
  border-radius: 5px ; 
  cursor: pointer ;
  width: 600px ;
  margin-bottom: 30px ;
}
.sub-btn:hover{
 transform: none ;
}

/* footer */

.foot-sec {
  margin-top: 50px;
  background-image: url('pics-logos/bgfotter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 20px 0;
  background-color: #6e6a6a;
}

.wrap {
  width: 100%;
  margin: 0 auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.flex-row2 {
  text-align: center;
}

.col-2,
.col-4 {
  padding: 20px;
}


.logo-img img {
  max-width: 100%;
  height: auto;
  margin-left: 40px;
}

.social a {
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}

.social img {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-left: 40px;
  border-radius: 5px;
 
  cursor: pointer;
}

.about,
.explore
{
  margin-bottom: 20px;
}

.about h4,
.explore h4
{
  margin-bottom: 10px;
}

.about ul,
.explore ul {
  list-style: none;
  padding: 0;
}

.about ul li,
.explore ul li {
  margin-bottom: 10px;
}

.about ul li a,
.explore ul li a {
  color: #fff;
  text-decoration: none;
}

.about ul li a:hover,
.explore ul li a:hover {
  text-decoration: underline;
}


.contact{
  font-size: 12px !important;
  margin-bottom: -5px !important;
  margin: 1px 1px !important;
}



.copy-right {
  text-align: center;
  border-top: 1px solid #555;
  padding-top: 10px;
}

.copy-right img {
  margin: 20px 0 10px;
}

.twitter {
  filter: invert(100%);
}

.whatsapp {
  background: green;
}
